html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#nav-bar {
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100%;
  background-color: #f7c956;
  color: #143077;
  padding: 0em 2em;
  font-weight: bolder;
  border-bottom: thick solid #ffbb14;
}

#nav-bar img.logo {
  width: 70px;
  height: 70px;
  padding: 5px;
  float: left;
}

#nav-bar span.header {
  float: left;
  font-size: 2em;
  padding-left: 10px;
  line-height: 80px;

}

#nav-bar input.tweet-button {
  float: right;
  padding: 12px;
  line-height: 25px;
  margin-top: 14px;
  background-color: #91bdff;
  border: solid 1px #0f214f;
  font-weight: 700;
  border-radius: 4px;

}

#nav-bar input.tweet-button:hover {
  float: right;
  padding: 12px;
  line-height: 25px;
  margin-top: 14px;
  background-color: #0f214f;
  color: white;
  font-weight: 700;
  border-radius: 4px;
}

footer#footer-bar {
  background-color: #ffbb14;
  height: 35px;
  bottom: 0;
  width: 100%;
}