html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


section.new-tweet {

  background-color: #eee;
  border-radius: 5px;
  margin: 2em;
  padding-bottom: 10px;
  color: #0f214f;


}

.new-tweet h2 {

  padding: 10px 10px;
  margin-bottom: 10px;
  border-bottom:  1px solid lightgrey;

}

textarea.textarea {
  width: 95%;
  margin: 0 auto;
  padding: 15px 10px;
  display: block;
  margin-left: 10px;

}

span.counter {
  float: right;
  margin: 15px 10px 0px 15px;


}

input#load-more-tweets {
  margin: 15px 0px 0px 15px;

}

span#error {
  padding: 12px;
  color: red;
  font-weight: 700;
  margin-left: 10px;
  background-color: #e1e3e8;
  border: 1px red solid;
  position: relative;


}


input#load-more-tweets {
  padding: 5px;
}